@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #859398,
      #283048
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #859398,
      #283048
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #button-container button {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@layer components {
  .box {
    @apply border-2 border-black;
  }
  .btn {
    @apply py-3 px-6 sm:py-5 sm:px-10  md:py-6 md:px-12 rounded-lg text-slate-300 text-lg font-bold;
  }
}
